<form>
    <label for="house-number">House Number:</label>
    <input type="text" id="house-number" name="house-number"><br><br>
  
    <label for="street">Street:</label>
    <input type="text" id="street" name="street"><br><br>
  
    <label for="city">City:</label>
    <input type="text" id="city" name="city"><br><br>
  
    <label for="state">State:</label>
    <input type="text" id="state" name="state"><br><br>
  
    <label for="pincode">Pincode:</label>
    <input type="text" id="pincode" name="pincode"><br><br>
  </form>
  
